<div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Me</h1>
                <p class="text-center sub-heading">I am a final year B.Tech student studying computer science in NIT Silchar. I am a competitive programming enthusiat who also enjoy developing websites (mostly backened) from time to time. Won't bore you writing big paras on me so yeah that's preety much it about me. Scroll blow to see my works. </p>
<!--                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about.svg" alt="herosection">
                        </figure>
                    </div>

                    {{!-- right side--}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <p>I am a <span class="bold-style">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex harum aliquam mollitia expedita animi fugiat </span></p>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>