<!--- <div class="container-fluid mt-5 about-style " id="projectid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Skills</h1>
                <p class="text-center sub-heading">Some of my skills</p>
                <p class="text-center sub-heading">
                    <table cellspacing="20">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Data Structures</td>
                                <td>&#11088;&#11088;&#11088;&#11088;&#11088;</td>
        
                                <td>ALgorithms</td>
                                <td>&#11088;&#11088;&#11088;&#11088;&#11088;</td>
                            </tr>
                            <tr>
                                <td>C++</td>
                                <td>&#11088;&#11088;&#11088;&#11088;&#11088;</td>
                            
                                <td>HTML</td>>
                                <td>&#11088;&#11088;&#11088;&#11088;</td>
                            </tr>
                            <tr>
                                <td>CSS</td>
                                <td>&#11088;&#11088;&#11088;</td>
                            
                                <td>Javscript</td>
                                <td>&#11088;&#11088;&#11088;</td>
                            </tr>
                            <tr>
                                <td>Node JS</td>
                                <td>&#11088;&#11088;</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
 </div>
--->
<div class="container-fluid mt-5 about-style " id="projectid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Skills</h1>
                <p class="text-center sub-heading">Some of my skills are</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                                <div class="our-services settings">
                                    <h4>Data Structures</h4>
                                    <p>&#11088;&#11088;&#11088;&#11088;&#11088;</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                                <div class="our-services database">
                                    <h4>Algorithms</h4>
                                    <p>&#11088;&#11088;&#11088;&#11088;&#11088;</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                                <div class="our-services backups">
                                    <h4>C++</h4>
                                    <p>&#11088;&#11088;&#11088;&#11088;&#11088;</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                                <div class="our-services settings">
                                    <h4>HTML</h4>
                                    <p>&#11088;&#11088;&#11088;</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                                <div class="our-services backups">
                                    <h4>CSS</h4>
                                    <p>&#11088;&#11088;</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                                <div class="our-services settings">
                                    <h4>NodeJs</h4>
                                    <p>&#11088;&#11088;&#11088;</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                                <div class="our-services database">
                                    <h4>Javascript</h4>
                                    <p>&#11088;&#11088;</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>

